<div layout="row" layout-wrap class="p-20-50">
    <div flex="33" ng-repeat="article in articles">
        <md-card>
            <div class="card-image h-200" style="background-image: url({{ article.thumbnail_image_url }});"></div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ article.title }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-bind-html="article.body_text">
                    {{ article.body_text }}
                </p>
            </md-card-content>
            <md-card-actions layout="row" class="color-dark" layout-align="end center">
                <small>{{ publishedText(article.is_published)}}</small>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-tooltip>Favoriser</md-tooltip>
                    <span class="fa fa-heart"></span>
                </md-button>
                <md-button class="md-icon-button" ng-click="go(article.slug)" aria-label="Settings">
                    <md-tooltip>Rediger</md-tooltip>
                    <span class="fa fa-pencil-square-o"></span>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="delete(article)">
                    <md-tooltip>Slett</md-tooltip>
                    <span class="fa fa-trash-o"></span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
