<div class="has-navbar has-sidebar">
    <md-content>
        <div layout="row" flex="100" layout-align="center">
            <h1>Artikler</h1>
        </div>
        <div layout="row" layout-align="center">
            <md-list flex="100">
                <md-list-item class="md-3-line md-long-text" ng-repeat="article in articles"
                              ng-click="go(article.id)">
                    <img ng-src="{{ article.thumbnail_image_url }}" class="md-avatar" alt="Artikkel bilde"/>
                    <div class="md-list-item-text">
                        <h3>{{ article.title }} </h3>
                        <h4>{{ article.created_at | date: 'dd.MM.yyyy' }} - {{ article.author_name }} - {{ publishedText(article) }}</h4>
                        <p ng-bind-html="article.body_text">
                            {{ article.body_text }}
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>