<div class="has-sidebar has-navbar">
    <div class="p-20-50">
        <div class="m-30-0 t-center">
            <h1 class="t-very-thin t-center">Ukentlige visninger</h1>
            <div class="korde-content-box bg-light p-50-50 m-20-20">
                <div class="font-size-59">120</div>
                <div class="font-size-26 t-upper t-very-thin">Sidevisninger dene uken</div>
            </div>
            <div class="korde-content-box bg-light p-50-50 m-20-20">
                <div class="font-size-59">120</div>
                <div class="font-size-26 t-upper t-very-thin">Sidevisninger dene uken</div>
            </div>
        </div>
        <div class="divider divider-half"></div>
        <div class="t-center m-20-0">
            <h1 class="t-very-thin">Artikler</h1>
            <div class="korde-content-box bg-light w-300 center-shadow m-20-20">
                <div class="content-box-header bg-assertive color-light t-center t-upper">Publiserte</div>
                <div class="p-10-20 t-very-thin t-center">
                    <div class="font-size-59 color-assertive">{{ articles.published }}</div>
                    <div class="font-size-20 t-upper">Artikkler</div>
                </div>
            </div>
            <div class="korde-content-box bg-light w-300 center-shadow m-20-20">
                <div class="content-box-header bg-royal color-light t-center t-upper">Utkast</div>
                <div class="p-10-20 t-very-thin t-center">
                    <div class="font-size-59 color-royal">{{ articles.unpublished }}</div>
                    <div class="font-size-20 t-upper">Artikkler</div>
                </div>
            </div>
        </div>
        <div class="m-20-0 t-center">
            <button class="button-circle border-2 border-positive bg-none color-positive font-size-26">+</button>
            <div class="t-very-thin m-10-0 font-size-18">Legg til ny artikkel</div>
        </div>
        <div class="divider divider-half"></div>
        <h1 class="t-very-thin t-center">Sider</h1>
        <div class="m-40-0 t-center">
            <a ng-href="#/pages/{{ page.slug }}" ng-repeat="page in pages">
                <div class="korde-content-box bg-light w-300 center-shadow m-20-20" ng-repeat="page in pages">
                    <div class="content-box-header bg-positive color-light t-center t-upper">{{ page.name }}</div>
                    <div class="p-10-10 font-size-30 color-dark t-right">
                        <div class="content-box-image h-200" style="background-image: url({{ page.thumbnail_url }});"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>