<div class="has-navbar has-sidebar">
    <div class="p-20-20">
        <h1 class="page-header">{{ pageHeader() }}</h1>
        <div class="w-800 block-center">
            <div class="edit-article-cover h-300" style="background-image: url({{ article.thumbnail_image_url }});">
                <div class="cover-editor p-0-10 font-size-16" data-toggle="modal" data-target="#fileModal">
                    Endre bilde <span class="fa fa-pencil"></span>
                </div>
            </div>
            <div class="row m-10-0">
                <div class="t-center">
                    <input type="text" class="font-size-40 hidden-input t-center" ng-model="article.title">
                </div>
            </div>
            <div class="row p-0-20 t-center">
                <div class="font-size-12">
                    Publisert: {{ article.created_at | date:'dd/MM-yyyy' }}
                </div>
                <div class="font-size-12">
                    Skrevet av: {{ article.author_name }}
                </div>
            </div>
            <div class="row">
                <div class="inline col-xs-12">
                    <div hallo-editor class="p-10-20" ng-model="article.body_text"></div>
                </div>
            </div>
            <div class="row">
                <div class="inline" ng-class="{'col-md-6': !element.width_type, 'col-md-12': element.width_type}" ng-repeat="element in article.elements">
                    <div ng-if="element.type" hallo-editor class="p-10-20 hidden-input" ng-model="element.text"></div>
                    <img ng-if="!element.type" class="width-fill" ng-src="{{ element.image_url }}" alt="">
                </div>
            </div>
            <div class="divider m-20-0"></div>
        </div>
        <div class="t-center" ng-show="newElement.file">
            <img ngf-thumbnail="newElement.file"  alt="">
        </div>
        <div class="row">
            <div class="inline" ng-class="{'col-md-6': !newElement.width_type, 'col-md-12': newElement.width_type}">
                <div hallo-editor class="p-10-20 hidden-input" ng-model="newElement.text"></div>
            </div>
        </div>
        <div class="article-element-picker t-center m-30-0">
            <button ng-class="{'button-active': newElement.type == 1}" ng-click="setNewElementType(1)">Tekst</button>
            <button ng-class="{'button-active': newElement.type == 0}" ng-click="setNewElementType(0)">Bilde</button>
            <button ng-class="{'button-active': newElement.width_type == 1}" ng-click="setNewElementType(1, true)">Hel</button>
            <button ng-class="{'button-active': newElement.width_type == 0}" ng-click="setNewElementType(0, true)">Halv</button>
            <button ng-click="addNewElement()"><span class="fa fa-plus"></span> Legg til</button>
        </div>
        <div class="image-drop-area" ng-show="newElement.type == 0" ngf-drop="setNewElementImage($file)" ngf-drag-over-class="'dragover'">
            <div class="upload-button" ngf-select="setNewElementImage($file)"  name="newImage"
                 ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100">
                <p>Last opp bilde</p>
            </div>
            <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
        </div>

        <div class="t-center">
            <button class="button-no-bg-confirm m-10-20 w-250" ng-click="saveArticle()">Lagre</button>
            <button class="button-no-bg-decline m-10-20 w-250" ng-click="updateElement(file)">Tilbake</button>
        </div>
    </div>
</div>


<div id = "fileModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title t-center">Bildeopplasting</h4>
      </div>
      <div class="modal-body">
        <div class="image-drop-area" ngf-drop="upload($file)" ngf-drag-over-class="'dragover'" ng-show="!thumbnailUploaded()">
            <div class="upload-button" ngf-select ng-model="element.image_file" name="newImage"
                 ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100">
                <p>Last opp bilde</p>
            </div>
            <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->