<div class="edit-article-cover h-400" style="background-image: url({{ article.thumbnail_image_url }});"
     ng-show="!article.thumbnail_image_src">
    <div class="cover-editor p-0-10 font-size-16" data-toggle="modal" data-target="#fileModal">
        Endre bilde <span class="fa fa-pencil"></span>
    </div>
</div>
<div class="edit-article-cover h-400" style="background-image: url({{ article.thumbnail_image_src.$ngfBlobUrl }});"
     ng-show="article.thumbnail_image_src">
</div>
<div class="w-800 block-center">

    <div class="row m-10-0">
        <div class="t-center">
            <input type="text" placeholder="Tittel her" class="font-size-40 hidden-input t-center" ng-model="article.title">
        </div>
    </div>
    <div class="row p-0-20 t-center">
        <div class="font-size-12">
            Publisert: {{ article.created_at | date:'dd/MM-yyyy' }}
        </div>
        <div class="font-size-12">
            Skrevet av: {{ article.author_name }}
        </div>
    </div>
    <div class="row" layout="row">
        <div flex>
            <md-checkbox ng-model="article.is_published" aria-label="Checkbox 1">
                Publisert
            </md-checkbox>
            <md-checkbox ng-model="article.is_internal" aria-label="Checkbox 2">
                Intern nyhet
            </md-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="inline col-xs-12">
            <text-angular-toolbar name="toolbar"></text-angular-toolbar>
            <text-angular name="body_text" ng-model="article.body_text" ta-target-toolbars='toolbar'></text-angular>
        </div>
    </div>
    <div class="row">
        <div class="inline" ng-class="{'col-md-6': !element.width_type, 'col-md-12': element.width_type}"
             ng-repeat="element in article.elements">
            <text-angular ng-if="element.type"
                          ng-model="element.text"
                          ta-target-toolbars='toolbar'
                          placeholder="Skriv nytt avsnitt her" ng-focus="showEditButtons(element.id)"
                          ng-blur="hideEditButtons(element.id)">
            </text-angular>
            <div ng-if="element.type == 0" ng-click="showEditButtons(element.id)" ng-blur="hideEditButtons(element.id)">
                <img class="width-fill" ng-src="{{ element.image_url }}" alt="element image">
                <img class="width-fill" ngf-thumbnail="element.image_src">
            </div>
            <div ng-show="showButtonsFor == element.id">
                <md-button class="md-primary" aria-label="delete element" ng-click="deleteElement(element, $index)">
                    <i class="fa fa-trash-o"></i>
                </md-button>
                <md-button class="md-primary" aria-label="edit element" ng-if="element.type == 0"
                           ngf-select="setElementImage($file, element, $index)" name="element image"
                           ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB">
                    <i class="fa fa-pencil-square-o"></i>
                </md-button>
                <md-button class="md-primary" aria-label="update element" ng-click="updateElement(element)">
                    <i class="fa fa-check"></i>
                </md-button>
            </div>
        </div>
    </div>
    <div class="divider m-20-0"></div>
</div>
<!-- New element -->
<div layout="row" layout-align="center" ng-show="newElement">
    <div flex="70">
        <text-angular ng-model="newElement.text" ng-if="newElement.type == 1"></text-angular>
        <div class="image-drop-area" ng-if="newElement.type == 0" ngf-drop="setNewElementImage($file)"
             ngf-drag-over-class="'dragover'">
            <div ng-hide="newElement.file">
                <div class="upload-button" ngf-select="setNewElementImage($file)" name="newImage"
                     ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100">
                    <p>Last opp bilde</p>
                </div>
                <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
            </div>
            <img flex="100" ngf-thumbnail="newElement.file">
        </div>
        <md-button class="md-raised md-primary" ng-click="addNewElement()">Legg til element</md-button>
        <md-button class="md-raised md-warn" ng-click="cancelNewElement()">Avbryt</md-button>
    </div>
</div>


<md-fab-toolbar md-open="false" ng-if="!isNew"
                md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <i class="fa fa-plus"></i>
            <md-tooltip md-direction="left">Legg til nytt element</md-tooltip>

        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button class="md-raised" ng-click="startNewElement(0, 1)">
                <i class="fa fa-picture-o"></i> Bilde hel
            </md-button>
            <md-button class="md-raised" ng-click="startNewElement(1, 1)">
                <i class="fa fa-file-text-o"></i>Tekst hel
            </md-button>
            <md-button class="md-raised" ng-click="startNewElement(0, 0)">
                <i class="fa fa-picture-o"></i> Bilde halv
            </md-button>
            <md-button class="md-raised" ng-click="startNewElement(1, 0)">
                <i class="fa fa-file-text-o"></i>Tekst halv
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
<!--<div class="article-element-picker t-center m-30-0">

    <button ng-class="{'button-active': newElement.type == 1}" ng-click="setNewElementType(1)">Tekst</button>
    <button ng-class="{'button-active': newElement.type == 0}" ng-click="setNewElementType(0)">Bilde</button>
    <button ng-class="{'button-active': newElement.width_type == 1}" ng-click="setNewElementType(1, true)">Hel
    </button>
    <button ng-class="{'button-active': newElement.width_type == 0}" ng-click="setNewElementType(0, true)">
        Halv
    </button>
    <button ng-click="addNewElement()"><span class="fa fa-plus"></span> Legg til</button>
</div>-->


<div class="t-center">
    <button class="button-no-bg-confirm m-10-20 w-250" ng-click="saveArticle()">Lagre</button>
    <button class="button-no-bg-decline m-10-20 w-250" ng-click="updateElement(file)">Tilbake</button>
</div>
<div>
    <md-chips ng-model="article.tags" placeholder="Skriv inn en tag"></md-chips>
</div>


<div id="fileModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title t-center">Bildeopplasting</h4>
            </div>
            <div class="modal-body">
                <div class="image-drop-area" ngf-drop="setNewThumbnailImage($file)" ngf-drag-over-class="'dragover'">
                    <div class="upload-button" ngf-select="setNewThumbnailImage($file)" name="newImage"
                         ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100">
                        <p>Last opp bilde</p>
                    </div>
                    <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
