<div class="has-navbar t-very-thin">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Rediger bruker</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <form ng-submit="updateUser()" class="form-horizontal user contact-form col-md-6 font-size-18" ng-if="canEditUser(user)">
            <div class="row">
                <h3>Rediger brukerinformasjon</h3>
            </div>
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-2">
                            <h5>Brukernavn</h5>
                        </div>
                        <div class="col-md-10">
                            <p ng-if="errors.username">{{ errors.username[0] }}</p>
                            <h5>{{ user.username }}</h5>
                            <!-- <input id="username" name="username" type="text" value="Brukernavn" class="korde-very-thin contact-field" ng-model="user.username"> -->
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-2">
                            <h5>E-post</h5>
                        </div>
                        <div class="col-md-6">
                            <input id="email" name="email" type="text" placeholder="E-post" class="korde-very-thin contact-field" ng-model="user.email">
                        </div>
                    </div>

                    <div class="form-group">
                         <div class="col-md-2">
                            <h5>Fornavn</h5>
                        </div>
                        <div class="col-md-6">
                            <input id="firstname" name="first_name" type="text" placeholder="Fornavn" class="korde-very-thin contact-field" ng-model="user.first_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <h5>Etternavn</h5>
                        </div>
                        <div class="col-md-6">
                            <input id="lastname" name="last_name" type="text" placeholder="Etternavn" class="korde-very-thin contact-field" ng-model="user.last_name">
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-md-2">
                            <h5>Rolle</h5>
                        </div>
                            <div class="col-md-6 checkbox" ng-if="canChangeRole(user)">
                                <div class="col-md-6">
                                <input type="radio" id="radio1" name="radios" ng-value=false ng-model="user.is_superuser">
                                <label for="radio1">Bruker</label>
                            </div>
                            <div class="col-md-6">
                               <input type="radio" id="radio2" name="radios" ng-value=true ng-model="user.is_superuser">
                                <label for="radio2">Admin</label>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="!canChangeRole(user)">
                            <h5>{{ getRole(user) }}</h5>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <button class="button-no-bg-edit">Oppdater bruker</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        <form ng-submit="updatePassword()" class="form-horizontal user contact-form col-md-6 font-size-18" ng-if="canEditUser(user)">
            <div class="row">
                <h3>Rediger passord</h3>
            </div>
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-3">
                            <h5>Gammelt passord</h5>
                        </div>
                        <div class="col-md-5">
                            <p ng-if="errors.non_field_errors">Feil passord oppgitt</p>
                            <input id="old-password" name="old-password" type="password" placeholder="Gammelt passord" class="korde-very-thin contact-field" ng-model="password.old_password">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-3">
                            <h5>Nytt passord</h5>
                        </div>
                        <div class="col-md-5">
                             <p ng-if="errors.password">{{ errors.password[0] }}</p>
                            <input id="new_password_1" name="new_password_1" type="password" placeholder="Nytt passord" class="korde-very-thin contact-field" ng-model="password.new_password_1">
                        </div>
                    </div>

                    <div class="form-group">
                         <div class="col-md-3">
                            <h5 >Gjenta nytt passord</h5>
                        </div>
                        <div class="col-md-5">
                            <p ng-if="errors.newPassword">{{ errors.newPassword[0] }}</p>
                            <input id="new_password_2" name="new_password_2" type="password" placeholder="Gjenta passord" class="korde-very-thin contact-field" ng-model="password.new_password_2">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <button class="button-no-bg-edit">Oppdater passord</button>
                        </div>
                    </div>
                </fieldset>
            </form>

    </div>
</div>
