<div class="p-30-90">
    <md-content layout-padding>
      <form>
        <div layout="row">
            <h2 class="t-thin t-upper m-50-0">Fyll inn brukerinformasjon:</h2>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.first_name">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="user.last_name">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input ng-model="user.username">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input type="email" ng-model="user.email">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="user.password">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-button ng-click="createUser()" class="md-raised md-primary" flex="30">Legg til bruker</md-button>
            <div class="m-10-10">
                <md-checkbox ng-model="data.cb5" class="md-primary m-0-10" ng-model="user.is_superuser" flex-gt-sm>
                    <h5 class="t-upper">Is admin</h5>
                </md-checkbox>
            </div>
        </div>
      </form>
  </md-content>
</div>