<div class="has-navbar">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header p-10-0 t-upper">Pages</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 thumbnails-box">
                <a ng-href="#/pages/{{ page.slug }}" ng-repeat="page in pages">
                    <div class="korde-content-box bg-light w-300 center-shadow m-20-20">
                        <div class="content-box-header bg-positive color-light t-center t-upper">{{ page.name }}</div>
                        <div class="p-10-10 font-size-30 color-dark t-right">
                            <div class="content-box-image h-200" style="background-image: url({{ page.thumbnail_url }});"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>