<div class="has-navbar">
    <div class="p-20-50">
        <div class="t-center t-very-thin m-20-0">
            <h1 class="page-header">{{ element.description }}</h1>
        </div>
        <div ng-if="checkType(element.type, 0)">
            <div class="p-10-0 t-center" >
                <img class="h-300" ng-src="{{ element.image_url }}" alt="Element image">
            </div>
            <div class="image-drop-area" ngf-drop="setFile($file)">
                <div class="upload-button" ngf-select="setFile($file)">
                    <p>Upload picture</p>
                </div>
                <h4 class="upload-text">
                    Or drag and drop a picture here...
                </h4>

            </div>
        </div>

        <div ng-if="checkType(element.type, 1)">
            <div flex>
                <text-angular ng-model="element.body"></text-angular>
            </div>
        </div>

        <div class="p-20-0 w-600 block-center t-center">
            <button class="button-no-bg-confirm m-10-20 w-250" ng-click="updateElement(file)">Save</button>
            <a ng-href="#/pages">
                <button class="button-no-bg-decline m-10-20 w-250" ng-click="goBack()">Tilbake</button>
            </a>
        </div>
    </div>
</div>