
/* --------------------

KORDE BUTTONS

Created by Valdemar Rolfsen 2016

-------------------- */

// Imports
// --------------------

@import "mixins",
        "variables";

// Local mixins
// --------------------

@mixin button($padding: 15px 40px, $bg: none, $color: $light, $border: 2px solid $light) {

  // Custom style
  padding: $padding;
  background: $bg;
  border: $border;
  color: $color;

  @media (max-width: $smallMediaSize) {
    width: 100%;
  }
}

@mixin smoothHover($bg: $light, $color: $dark) {
  @include smoothBackgroundShift();

  &:hover {
    background: $bg;
    color: $color;
  }
}

// Round buttons
// --------------------

.button-circle {
  // Includes
  @include circle(60px);

  &:focus {
    outline: none;
  }
}

.button-no-bg-confirm {
  @include button($color: $balanced, $border: 2px solid $balanced);
  @include smoothHover($balanced, $light);
}
.button-no-bg-decline {
  @include button($color: $assertive, $border: 2px solid $assertive);
  @include smoothHover($assertive, $light);
}
.button-no-bg-delete {
  @include button($padding: 5px 30px, $color: $assertive, $border: 2px solid $assertive);
  @include smoothHover($assertive, $light);
}
.button-no-bg-edit {
  @include button($padding: 5px 30px, $color: $turcoise, $border: 2px solid $turcoise);
  @include smoothHover($turcoise, $light);
}