/* --------------------

KORDE MIXINS

Created by Valdemar Rolfsen 2016

-------------------- */

// Background
// --------------------

@mixin has-background-image() {
  display: inline-block;
  background-position: center center;
  background-size: cover;
}

// Shapes
// --------------------

@mixin circle($diameter) {
  height: $diameter;
  width: $diameter;
  border-radius: 100%;
}

// Transitions
// --------------------

@mixin trans($type: all, $time: 500ms) {
  -webkit-transition: $type $time ease;
  -moz-transition: $type $time ease;
  -ms-transition: $type $time ease;
  -o-transition: $type $time ease;
  transition: $type $time ease;
}

@mixin smoothBackgroundShift() {
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}