/*

KORDE PROPERTIES

Created by Valdemar Rolfsen 2016

*/

// Imports
@import "mixins",
        "variables";

// Padding
// --------------------

@for $i from 0 to 10 {
  @for $j from 0 to 10 {
    .p-#{$i*10}-#{$j*10} {
      padding: #{$i*10}px #{$j*10}px;
    }
  }
}

// Margins
// --------------------

@for $i from 0 to 10 {
  @for $j from 0 to 10 {
    .m-#{$i*10}-#{$j*10} {
      margin: #{$i*10}px #{$j*10}px;
    }
  }
}

// Height
// --------------------

@for $i from 1 to 70 {
  .h-#{$i*10} {
    height: #{$i*10}px;
  }
}

// Width
// --------------------

@for $i from 1 to 90 {
  .w-#{$i*10} {
    width: #{$i*10}px;
  }
}

.width-fill {
  width: 100%;
}

// Background
// --------------------

.bg-light { background: $light; }

.bg-stable { background: $stable; }

.bg-stable-dark { background: $stable_dark; }

.bg-positive { background: $positive; }

.bg-calm { background: $calm; }

.bg-balanced { background: $balanced; }

.bg-energized { background: $energized; }

.bg-assertive { background: $assertive; }

.bg-royal { background: $royal; }

.bg-dark { background: $dark; }

.bg-none { background: none; }


// Color
// --------------------

.color-light { color: $light; }

.color-stable { color: $stable; }

.color-stable-dark { color: $stable_dark; }

.color-positive { color: $positive; }

.color-calm { color: $calm; }

.color-balanced { color: $balanced; }

.color-energized { color: $energized; }

.color-assertive { color: $assertive; }

.color-royal { color: $royal; }

.color-dark { color: $dark; }

// Borders
// --------------------

// Colors
.border-light { border-color: $light; }

.border-stable { border-color: $stable; }

.border-stable-dark { border-color: $stable_dark; }

.border-positive { border-color: $positive; }

.border-calm { border-color: $calm; }

.border-balanced { border-color: $balanced; }

.border-energized { border-color: $energized; }

.border-assertive { border-color: $assertive; }

.border-royal { border-color: $royal; }

.border-dark { border-color: $dark; }

// Width
@for $i from 0 to 10 {
  .border-#{$i} {
    border-width: #{$i}px;
  }
}

// Positioning
// --------------------

.block-center {
  display: block;
  margin: 0 auto;
}

// Displays
// --------------------
.inline {
  display: inline-block;
}

// Shadows
// --------------------

.center-shadow {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}

.right-shadow {
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.3);
}