/* --------------------

KORDE TEXT STYLES

Created by Valdemar Rolfsen 2016

-------------------- */

// Imports
// -------------------

@import "variables";

// General paragraph style
// -------------------

p {
  font-size: 16px;
}

p.big {
  font-size: 22px;
}

// Font weights
// -------------------

.t-very-thin {
  font-weight: 100;
}

.t-thin {
  font-weight: 300;
}

.t-thick {
  font-weight: 600;
}

.t-very-thick {
  font-weight: 800;
}

// Text position
// -------------------

.t-center { text-align: center; }

.t-left { text-align: left; }

.t-right { text-align: right; }

// Font sizes
// -------------------

@for $i from 14 to 60 {
  .font-size-#{$i} {
    @media (min-width: $smallMediaSize) {
     font-size: #{$i}px;
    }
  }
}

// Colors
// -------------------
.t-light {
  color: $light;
}

.t-dark {
  color: $dark;
}

// Other
.t-upper {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}