/*

All variables used by Korde AS
Created by Valdemar Rolfsen 2016

*/

// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$stable_dark:                     #BBBBBB !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$turcoise:                        #32ADA1 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #222 !default;

// Media sizes
// -------------------------------

$smallMediaSize :                 768px;
$mediumMediaSize:                 1250px;

// Fonts
// -------------------------------

$font-family-standard:            "Open Sans", sans-serif !default;